/* AdminLogin.css */
.login-container {
    background-image: url('../../assets/images/logowithsideimg.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  